.product {
	position: relative;
	width: 100%;
	height: 480px;
	display: block;
	background: #f8f8f8;
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
	&:hover &__arrow {
		margin-right: 0;
	}
	&__poster {
		width: 100%;
		height: 360px;
		object-fit: cover;
		& img {
			height: 100%;
			object-fit: cover;
		}
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px;
	}
	&__title {
		font-family: 'ArtegraSoft';
		font-weight: 700;
		display: block;
		width: 120px;
		font-size: 2.5rem;
		line-height: 3rem;
		transition: 0.3s;
	}
	&__arrow {
		font-size: 28px;
		margin-right: 20px;
		transition: 0.5s;
	}
}

.soon {
	position: absolute;
	top: 18px;
	left: 14px;
	display: inline-block;
	font-weight: 700;
	font-size: 2rem;
	color: $primary;
	background: #fff;
	padding: 4px 8px;
}
