@media (max-width: 1200px) {
	.list__item {
		margin-right: 25px;
	}
	.list__link {
		font-size: 1.4rem;
	}
	.hero__title {
		font-size: 4.2rem;
		line-height: 5.8rem;
	}
	.billboard__abstract {
		display: none;
	}
	.page-media__slider-pic {
		margin-bottom: 25px;
	}
	.page-contacts__subscribe-title {
		margin-right: 15px;
	}
}
