.dealers {
	position: relative;
	padding: 100px 0;
	overflow-x: hidden;
	&__abstract {
		position: absolute;
		top: 50%;
		right: -8em;
		transform: translateY(-50%);
	}
	&__items {
		margin-bottom: 30px;
	}
	&__desc {
		max-width: 460px;
		line-height: 2.6rem;
	}
}

.benefit {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	&__icon {
		display: flex;
		flex: 0 0 78px;
		align-items: center;
		justify-content: center;
		width: 78px;
		height: 78px;
		border-radius: 50%;
		background: $primary;
		margin-right: 20px;
		&::before {
			color: #fff;
			font-size: 3.7rem;
		}
	}
	&__text {
		font-size: 2.5rem;
	}
}
